<h1>Namadi Search Engine</h1>
<a href="cgi-bin/submit_search.py">submit a site to search engine</a>
<form method="get" action="cgi-bin/search.py">
	<input type="text" name="search_query" size="50">
	<br>
	<input type="submit" name="" value="Search">
</form>